@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #eef2ff;
}



.container {
  width: 100%;
  background-color: #6366f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)),
    url(https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}



.headerContainer{
  width: 40%;
  padding: 40px;
  text-align: center;
}

.subtitleText{
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
  font-style: italic;
}

.titleText{
  font-weight: 500;
}

.formContainer{
  background-color: #312e81;
  width: 35%;
  color: #eef2ff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-bottom: 100px;
}

.formItemContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.label{
  font-weight: 500;
}

.input,
.selection{
  margin-top: 8px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: #27272a;
}

.textarea{
  margin-top: 8px;
  resize: vertical;
  min-height: 120px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #27272a;
}

.button{
  color: #eef2ff;
  background-color: #10b981;
  padding: 15px;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.button:hover {
  background-color: #f59e0b;
}

.button:active{
  background-color: #fbbf24;
}
